/*font Variables*/

$primary-font: 'Roboto',
sans-serif;
$title-font: 'Roboto',
sans-serif;
/*Color Variables*/

$primary-color: #5e60aa;
$primary-color2: #5e60aa;
$title-color: #222222;
$text-color: #777777;
/*=================== fonts ====================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,500i');